In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator

In [15]:
small_graphs = pd.read_csv("results/small_graphs.csv")

In [16]:
small_graphs.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>n</th>
      <th>decomposable</th>
      <th>all</th>
      <th>percentage</th>
      <th>time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3</td>
      <td>3</td>
      <td>8</td>
      <td>37.500000</td>
      <td>0.821174</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>35</td>
      <td>64</td>
      <td>54.687500</td>
      <td>0.492110</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>345</td>
      <td>1024</td>
      <td>33.691406</td>
      <td>0.662149</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>19894</td>
      <td>32768</td>
      <td>60.711670</td>
      <td>3.358750</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>638967</td>
      <td>2097152</td>
      <td>30.468321</td>
      <td>143.953193</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
fig, (ax1, ax2, ax3) = plt.subplots(1, 3, figsize=(15,3))
ax1.xaxis.set_major_locator(MaxNLocator(integer=True))
ax2.xaxis.set_major_locator(MaxNLocator(integer=True))
ax3.xaxis.set_major_locator(MaxNLocator(integer=True))
fig.subplots_adjust(wspace=0.5)
small_graphs.plot(x="n", y="percentage", ax=ax1)
small_graphs.plot(x="n", y="time", ax=ax2)
small_graphs.plot(x="n", y="all", ax=ax3)
small_graphs.plot(x="n", y="decomposable", ax=ax3)